#Working Environment
NODE_ENV=

#database environment
TEST_DB_NAME=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_HOST=

#database production
DATABASE_URL=

#server port
PORT=

#docker db port
DB_DOCKER_PORT=

#docker web port
WEB_DOCKER_PORT=

#JWT Secret key
JWT_SECRET=
